In [5]:
import pandas as pd
import openpyxl
import awswrangler as awr

file_path = r"C:\Users\raphael.almeida\Documents\Processos\relatorio_inadimplencia\sql\query_ANSI.sql"

with open(file_path, 'r') as file:
    query = file.read()

df_inadimp =  awr.athena.read_sql_query(query, database='silver')

In [3]:
save_path = r"C:\Users\raphael.almeida\Documents\Processos\relatorio_inadimplencia\relatorio_inadimp_teste.xlsx"
df_inadimp.to_excel(save_path, engine='openpyxl', index=False)

extraindo relatório de cancelamentos

In [6]:
cancel_path = r"C:\Users\raphael.almeida\Grupo Unus\analise de dados - Arquivos em excel\CAMPANHA_RANKING_ATIVACOES.xlsx"
df_cancel = pd.read_excel(cancel_path, engine='openpyxl', sheet_name='CANCELAMENTOS')

In [7]:
df_cancel.head()

,placa,chassi,id_placa,id_veiculo,id_carroceria,matricula,conjunto,unidade,status,cliente,data_registro,data_cancelamento,suporte,data_extracao,empresa
0,MJC0A87,9BVAS50D9BE775783,19741,19741,0,15920,6229,UNIDADE MARINGÁ,FINALIZADO,EDUARDO COLLAR,2024-02-21,2025-03-09,System,2025-03-10,Stcoop
1,RYT0C49,94BA1454PRV010049,11785,0,11785,8678,6299,UNIDADE DOURADOS,FINALIZADO,AUTO ELETRICA CONCORDIA LTDA,2024-02-22,2025-03-09,System,2025-03-10,Stcoop
2,MIY4866,9BVAS02C2BE778130,19168,19168,0,20553,6209,UNIDADE VILHENA,FINALIZADO,A. DE SOUZA & CIA LTDA,2024-02-21,2025-03-09,System,2025-03-10,Stcoop
3,QCJ2007,97T0AN663KC006650,12783,0,12783,21464,6237,UNIDADE MARINGÁ,FINALIZADO,W L B FEITOSA LTDA,2024-02-21,2025-03-09,System,2025-03-10,Stcoop
4,QCJ1957,97T0AN663KC006649,12782,0,12782,21464,6237,UNIDADE MARINGÁ,FINALIZADO,W L B FEITOSA LTDA,2024-02-21,2025-03-09,System,2025-03-10,Stcoop

In [10]:
chassis_cancel = df_cancel['chassi'].unique()

df_validacao = df_inadimp[~df_inadimp['chassi'].isin(chassis_cancel)]

df_inadimp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2870 entries, 0 to 2869
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   codigo_cadastro       2870 non-null   Int64
 1   associado             2870 non-null   string
 2   grupo                 2870 non-null   string
 3   aplicacao_financeira  2870 non-null   string
 4   data_emissao          2870 non-null   object
 5   data_vencimento       2870 non-null   object
 6   valor_titulo          2870 non-null   float64
 7   codigo                2870 non-null   Int64
 8   descricao             2870 non-null   string
 9   unidade               2870 non-null   string
 10  dias_atrasado         2870 non-null   Int64
 11  ponteiro              2870 non-null   Int64
 12  numero_boleto         2870 non-null   string
 13  nosso_numero          2774 non-null   string
 14  status                2870 non-null   string
 15  id_set                2870 non-null   Int64
 16  parent                2870 non-null   Int64
 17  cooperativa           2870 non-null   string
 18  placa                 1661 non-null   string
 19  chassi                1661 non-null   string
dtypes: Int64(6), float64(1), object(2), string(11)
memory usage: 465.4+ KB