In [5]:
import awswrangler as awr
import pandas as pd
import os
import openpyxl


caminho_query = r"C:\Users\raphael.almeida\Documents\Processos\relatorio_inadimplencia\sql\faturas_baixadas.sql"

#realizando a leitura da query
with open(caminho_query,'r') as arquivo_query:
    query = arquivo_query.read()

#transformando em dataframe (pandas) e executando a consulta no athena 
df_pagamentos = awr.athena.read_sql_query(query, database='silver')

In [20]:
df_pagamentos = df_pagamentos.drop_duplicates('ponteiro', keep='first')

testando resultado final

In [8]:
df_pagamentos.head()

,cooperativa,aplicacao,ponteiro,matricula,conjunto,unidade,associado,valor_baixa,data_baixa,data_vencimento,dias_atraso
0,Stcoop,166,53572,20946,3635,UNIDADE SÃO PAULO,MARIA APARECIDA GOMES DE SOUZA MINEIRO,1218.94,2024-08-12,2024-08-12,0
6,Stcoop,1,38761,4245,2475,UNIDADE GUARAPUAVA,ANDREY LUIZ DA LUZ,549.87,2024-02-26,2024-02-26,0
13,Stcoop,166,38771,4245,2475,UNIDADE GUARAPUAVA,ANDREY LUIZ DA LUZ,1404.35,2024-08-05,2024-08-05,0
20,Stcoop,166,97154,21699,6595,UNIDADE GUARAPUAVA,PR TRANSPORTADORA LTDA,455.45,2024-05-09,2024-05-10,1
24,Stcoop,166,97158,21699,6595,UNIDADE GUARAPUAVA,PR TRANSPORTADORA LTDA,450.45,2024-08-22,2024-09-05,14

In [16]:
hoje = pd.Timestamp.today()
ano_atras = hoje-pd.DateOffset(year=1)
ano_atras

Timestamp('1-02-28 12:16:45.899208')

In [ ]:
df_pagamentos = df_pagamentos.drop_duplicates('ponteiro', keep='first')

hoje = pd.Timestamp.today()



df_data_filtrada = df_pagamentos[
    (df_pagamentos['data_baixa']<=hoje.date())&
    (df_pagamentos['data_baixa']>=pd.to_datetime("2024-02-27").date())
]

df_data_filtrada['valor_baixa'].sum()

227166267.07999995